.w80ch {
    max-width: 80ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-view-item {
    text-decoration: none;
    color: inherit;
}

.list-view-item:hover {
    color: inherit;
    cursor: pointer;
}