extends layout.pug

block search
    form(class="d-flex" role="search")
        input(class="form-control me-2" type="search" placeholder="Search" aria-label="Search")

block content
    ul(class="list-group mt-4")
        each transaction in transactions
            li(class="list-group-item d-flex justify-content-between align-items-start")
                div(class="ms-2 me-auto w-100")
                    div(class="d-flex justify-content-between w-100")
                        div(class="fw-bold")= transaction.account
                        div= transaction.date
                    div(class="d-flex justify-content-between w-100")
                        p(class="m-0")= transaction.purpose
                        p(class="m-0")= (transaction.value / 100).toFixed(2)


        else
            li(class="list-group-item") No transactions available
